backend/venv/
venv/
.env
.venv
env/

**/__pycache__/
*.pyc

frontend/node_modules/
node_modules/

frontend/dist/
frontend/dist-electron/
dist/

build/
*.spec

frontend/bin/
release/

.DS_Store
Thumbs.db

*.log
